.main_2 {
    margin-top: 69px;
    background: #E5E5E5;
}

.quizz-title {
    width: 100%;
    height: 227px;
}

.quizz-title h1 {}

.quizz-title img {}

.quizz-box {
    height: 676px;
    width: 759px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000000D;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.quizz-box img {
    height: 175.20184326171875px;
    width: 329.9119873046875px;
    margin-top: 10px;
    margin-left: 10px;
}

.box-title {
    background: blue;
    height: 137.99081420898438px;
    width: 688.1599731445312px;
}

.box-title h1 {}

.box-options {
    background: red;
    height: 440px;
    width: 688.1599731445312px;
}

.box-options p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.box-results {
    height: 430px;
    width: 759px;
    left: 340px;
    background: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px #0000000D;
}

.results-score {}

.results-message {}

.quizz-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.reset-quizz {
    height: 52px;
    width: 260.3782043457031px;
    border-radius: 15px;
    background: #EC362D;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF5F4;
    cursor: pointer;
    margin: 20px;
}

.quit-quizz {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #818181;
    cursor: pointer;
}