.main_2 {
    margin-top: 69px;
    background: #E5E5E5;
}

.quizz-top {
    width: 100%;
    height: 227px;
    position: relative;
}

.quizz-banner {
    width: 100%;
    height: 227px;
    position: relative;
}

.quizz-banner img {
    width: 100%;
    height: 265px;
    position: absolute;
    z-index: 2;
}

.quizz-opaco {
    width: 100%;
    height: 265px;
    background-color: black;
    opacity: 60%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.quizz-banner-title {
    width: 100%;
    height: 265px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quizz-box {
    height: 676px;
    width: 759px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000000D;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box-title {
    height: 138px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-title p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.box-options {
    height: 450px;
    width: 688px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.answer-box {
    width: 330px;
    height: 220px;
    display: flex;
    flex-direction: column;
}

.answer-box p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.answer-box img {
    width: 330px;
    height: 180px;
}
 
.box-options p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.quizz-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.reset-quizz {
    height: 52px;
    width: 260px;
    border-radius: 15px;
    background: #EC362D;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF5F4;
    cursor: pointer;
    margin: 20px;
}

.quit-quizz {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #818181;
    cursor: pointer;
}

.right-answer {
    color: #009C22;
}

.non-chosen-answer {
    opacity: 60%;
}

.chosen-answer {
    opacity: 100%;
}

.wrong-answer{
    color: #FF4B4B
}

.separador {
    width: 729px;
    height: 390px;
    margin: auto;
}

.ResultadoQuizzBox {
    height: 430px;
    width: 759px;
    background: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px #0000000D;
    display: flex;
    flex-direction: column;
}

.ResultadoQuizz {
    width: 727px;
    height: 99px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imagemTextoResultado {
    width: 364px;
    height: 273px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.imagem_resultado {
    width: 364px;
    height: 273px;
    margin-top: 10px;
}

.descriçãoBox {
    width: 328px;
    height: 250px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.descrição {
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}



