.hidden {
    display: none;
}

@media (max-width: 1100px) {

    .quizzes, .myquizzes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .myquizzes_p, .quizzes_box p {
        margin-left: 5%;
    }

    .quizzes_box {
        margin-top: 50px;
    }

    .quizz {
        width: 90%;
        height: auto;
    }

    .quizz p {
        width: 90%;
    }

    .m3-theme,
    .m3-question,
    .m3-level, 
    .m3-create-header,
    .m3-plus-question {
        width: 94%;
    }

    .m3-create button {
        width: 88%;
    }   
}